{% extends 'projects/base.html' %} {% block title %}Task Detail{% endblock %} {% block content %}
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card shadow-sm">
          <div class="card-header">Subtask Detail</div>
          <div class="card-body">
            <h5 class="card-title">{{ subtask.title }}</h5>
            <p class="card-text">Description: {{ subtask.description | default:"No description" }}</p>
            <p class="card-text">Status: {{ subtask.status }}</p>
            <p class="card-text">Task: {{ subtask.task }}</p>
            <p class="card-text">User: {{ subtask.user }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
