{% extends 'projects/base.html' %} {% block title %} Subtask List {% endblock %} {% block content %}
<section class="py-5">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="mb-0">Subtasks</h2>
      <a href="{% url 'subtask-create' %}" class="btn btn-success">Create Subtask</a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Status</th>
          <th scope="col">Task</th>
          <th scope="col">User</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if subtask_list %} {% for subtask in subtask_list %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ subtask.title }}</td>
          <td>{{ subtask.status }}</td>
          <td>{{ subtask.task }}</td>
          <td>{{ subtask.user }}</td>
          <td>
            <a href="{% url 'subtask-update' subtask.id %}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'subtask-delete' subtask.id %}" class="btn btn-danger btn-sm">Delete</a>
            <a href="{% url 'subtask-detail' subtask.id %}" class="btn btn-info btn-sm">Details</a>
          </td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <td colspan="7">No Subtasks.</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
