{% extends 'projects/base.html' %} {% block title %}Confirm{% endblock %} {% block content %}

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card shadow-sm">
          <div class="card-header">
            <p>Are you sure you want to delete "{{ object.title }}"?</p>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-primary" value="Confirm Delete" />
              <a href="{% url 'subtask-list' %}">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
