{% extends 'projects/base.html' %} {% block title %}Edit User Profile{% endblock %} {% block content %}
<section class="py-5">
  <div class="container">
    <h2 class="mb-4">Edit User Profile</h2>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card shadow-sm">
          <div class="card-header">Search filters</div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %} {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
