{% extends "projects/base.html" %} {% block content %}
<h2>About the author</h2>
<h3>Walter Zein</h3>
<ul>
  <li>
    Who am I?
    <p>
      A 52 year old techie dad, who's been working in the IT world for quite a while and has decided to switch the
      career path to software development
    </p>
  </li>
  <li>
    What I am doing here?
    <p>
      Well, I am learning (or trying to learn) Python. I think it is a very powerful programming language and there are
      many resources to explore out there.
    </p>
  </li>
</ul>

{% endblock content%}
